.services-container {
  background-color: #FFEAEA;
  color: #CC3366;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 100vw;
  padding: 30px;
  padding-top: 100px;
  font-weight: 500;
}

.services-container h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  
}

.services-container h3 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  
}

.services-container p {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  color: #213547;
  
}

ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

li {
  list-style: none;
}

.info-services img {
    width: 50px;
    height: 50px;
    background-color: #ffd6d6;
}

@media (min-width: 1024px) {

  .services-container {
    padding-top: 120px;
    align-items: center;
    justify-content: center;
  }



  .services-container h2 {
    font-size: 3.5rem;
    padding-bottom: 20px;
  }
  
  .services-container h3 {
    font-size: 2rem;
  }

  .services-container p {
    font-size: 1.8rem;
  }

  .info-services{
    display: flex;
    gap: 30px;
  }
}
